/* membership page */

.membership-container {
    padding: 20px;
  }
  .membership-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .membership-tier {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    flex: 1;
    margin: 10px;
    min-width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .membership-tier img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
  }
  .membership-tier h2 {
    margin-bottom: 15px;
  }
  .membership-tier ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
  }
  .membership-tier ul li {
    margin-bottom: 10px;
  }
  .membership-tier .price {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
  }
  